.bs-form-item-icon {

}

.bs-form-button {
  width: 100%;
}

.bs-form {
  min-width: 400px; 
}

.bs-page-content {
  background: #fff;
}

.bs-page-title {
  font-size: 20px;
  font-weight: 300;
}

.bs-stepper-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.ant-badge {
  color: inherit;
}

.ant-badge-status-processing {
  // background-color: red;
}

.ant-steps-item-title {
  text-transform: uppercase;
}

.ant-form-item-label {
  text-transform: uppercase;
}

.ant-btn {
  text-transform: uppercase;
}

.ant-card-head-title {
  text-transform: uppercase;
}

.ant-list-item-meta-title {
  text-transform: uppercase;
}

.ant-table-thead, .ant-breadcrumb-link {
  text-transform: uppercase;
}

.ant-page-header-heading-title {
  text-transform: uppercase;
}

.ant-drawer-title {
  text-transform: uppercase;
}




body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #e1e3e8;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #848587;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #e1e3e8;  /* creates padding around scroll thumb */
}


body {
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: #848587 #e1e3e8;   /* scroll thumb and track */ 
}